/*
 * HEADER INICIO
 */

.encabezado{
	background: linear-gradient(to top,#76278F, #2B1E66);

}

.titulo{
    height: 60px;
    width:80px;
    margin:auto;
    padding:70px;
    border-top: 20px; 

}
ul{ 
 }
li{
	list-style: none;
	display:inline-block;

